h1 {
  color: black;
  margin-left: 100px;
  margin-top: 80px;
}
.form {
  width: 700px;
  height: 300px;

  margin-left: 350px;
  margin-top: 40px;
  border: 2px solid brown;
}
.email1 {
  margin-left: 100px;
  margin-top: 30px;

  height: 30px;
  width: 300px;
  border-color: 1 solid px;
  border-radius: 5px;
}
.email {
  margin-left: 70px;
  margin-top: 30px;

  height: 30px;
  width: 300px;
  border-color: 1 solid px;
  border-radius: 5px;
}
.label-n {
  margin-left: 100px;
}
.bb1 {
  margin-left: 300px;
  margin-top: 10px;
  height: 30px;
  width: 200px;
  border-radius: 5px;
  color: brown;
}
.bb {
  margin-left: 80px;
  margin-top: 10px;
  height: 30px;
  width: 100px;
  border-radius: 5px;
  color: blue;
}
