



.Modal {
  
    height: 500px;
    width: 800px;
    top: 200px;
    left: 300px;
 background-color: white;
    margin-top: -10px;



    
  }
  .form-ajout{
   
  margin-left:-100px;
   
      margin-top:10px;
     
  }
  .modal-header{ 
      height: 100%;
     color:black;
     
      margin-top: 0px;
     
  }
  input{
      margin-top: 10px;
     
      width: 300px;
      height: 30px;
      border-radius: 10px;
  }
  .close-button{
      
     
    height: 40Opx;
    width: 100px;
    
    background-color: #6C747E;
  }
  .pos-button{
    margin-top: 50px;
    margin-left: 300px;
  }
 
  .btn-ajout{
      height: 40Opx;
      width: 100px;

     background-color:   #382EE0
    
  }